* {
    margin: 0px;
    padding: 0px;
}

/* Dimension Contenedores */
.contenedor-header{
    height: 200px;
    width: 100%;
}

.contenedor-categorias{
    height: 460px;
    width: 100%;
    border: 1px solid blue;
}

.contenedor-recientes{
    height: 400px;
    width: 100%;
    border: 1px solid black;
}

.contenedor-footer{
    height: 70px;
    width: 100%;
    border: 1px solid rebeccapurple;
}

/* Headear */
.logo-header{
    position: absolute;
    margin-top: 20px;
    margin-left: 100px;
}

.logo-superior{
    height: 32px;
    width: 32px;
}

nav{
    float: right;
    margin-right: 50px;
    margin-top: 30px;
    border: 1px solid red;
}

nav>a {
    /* color: fff; */
    font-weight: 300;
    /* text-decoration: none; */
    margin-right: 20px;
}

.carrito{
    float: right;
}

.imagen-carrito{
    height: 16px;
    width: 16px;
}

a{
    text-decoration: none;
}

.titulo-header{
    position: absolute;
    font-size: 32px;
    margin-top: 60px;
    margin-left: 440px;
    border: 1px solid red;
}

.contenedor-buscador{
    position: absolute;
    margin-top: 130px;
    margin-left: 450px;
    border: 1px solid red;
}

.buscador{
    font-size: 32px;
}

.boton-buscar{
    color: white;
    background-color: gray;
    font-size: 32px;
}
