:root{
    --color-contenedores: #a0a0a0;
}

/* Contenedor */
.contenedor-main {
    width: 100%;
    height: 385px;
}

.nav-logo{
    border-bottom: 2px solid var(--color-contenedores);
}

/* Main */
.login{
    display: inline-block;
    position: absolute;
    height: 120px;
    margin-left: 545px;
    margin-top: 50px;
    width: 300px;
}

.correo{
    height: 40px;
    width: 296px;
    font-size: 14px;
    border: 2px solid var(--color-contenedores);
}

.contra{
    margin-top: 32px;
    height: 40px;
    width: 296px;
    font-size: 14px;
    border: 2px solid var(--color-contenedores);
}

.raya-2{
    display: inline-block;
    position: absolute;
    width: 600px;
    margin-top: 200px;
    margin-left: 400px;
    border: 1px solid var(--color-contenedores);
}

.registro{
    display: inline-block;
    position: absolute;
    width: 315px;
    font-size: 14px;
    margin-left: 545px;
    margin-top: 210px;
}

.texto{
    display: inline-block;
    position: relative;
}

.registrar{
    display: inline-block;
    position: relative;
    text-decoration: underline;
}

.botones{
    display: inline-block;
    height: 40px;
    width: 400px;
    text-align: center;
    margin-left: 490px;
    margin-top: 300px;
}

.boton-ingresar{
    display: inline-block;
    position: absolute;
    height: 40px;
    line-height: 40px;
    width: 182px;
    left: 490px;
    cursor: pointer;
    border: 1px solid black;
    background-color: gray;
    color: white;
}

.boton-ingresar:hover {
    color: rgb(0, 0, 0);
    background-color: lightgray;
}

.boton-cancelar{
    display: inline-block;
    position: absolute;
    height: 40px;
    width: 182px;
    line-height: 40px;
    left: 708px;
    cursor: pointer;
    border: 1px solid gray;
    background-color: lightgrey;
    color: black;
}

.boton-cancelar:hover {
    color:white;
    background-color: gray;
}